<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @blog_profile.name %>
</p>

<p>
  <b>Blog name:</b>
  <%= @blog_profile.blog_name %>
</p>

<p>
  <b>Skin:</b>
  <%= @blog_profile.skin_id %>
</p>

<p>
  <b>Blogger:</b>
  <%= @blog_profile.blogger_id %>
</p>


<%= link_to 'Edit', edit_blog_profile_path(@blog_profile) %> |
