<%= form_for(@blogger) do |f| %>
  <% if @blogger.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blogger.errors.count, "error") %> prohibited this blogger from being saved:</h2>

      <ul>
      <% @blogger.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :blogger_name ,'名前' %><br />
    <%= f.text_field :blogger_name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
