
<p id="notice"><%= notice %></p>
<div class="entry_form">
<p>
  <b>タイトル:</b>
  <%= @entry.title %>
</p>
<p>
  <b>本文:</b>
  <%= @entry.sentence %>
</p>
</div>
<hr>
<div class="comment_form" id="comment_form_div">
    <%=render @entry.comments.build %>
</div>
<hr>
<b>コメント</b>
<div class="comment" id="comment_list">
<% @entry.comments.each do |comment| %>
<%= comment.sentence %> by <%=comment.author %><br>
  <hr>
<% end %>
</div>
