<!DOCTYPE html>
<html>
<head>
  <title>GameBlog</title>
  <%= stylesheet_link_tag  "blog/#{@skin_id}" ,:media=>'screen' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<%= render 'blog/header' %>
<section>
<%= yield %>
</section>
<nav>
<%=render 'blog/side_info' %>
</nav>
</body>
</html>
