<!DOCTYPE html>
<html>
<head>
  <title>GameBlog</title>
  <%= stylesheet_link_tag 'entries' ,:media=>'screen' %>
  <%= stylesheet_link_tag 'base' ,:media=>'screen' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<%= render 'common/header' %>
<%= render 'common/menu' %>
<section>
<%= yield %>
</section>
</body>
</html>
